<div class="watchlist-container">
    <h2>Your Watchlist</h2>
  
    <!-- Error message if there is an issue with the watchlist -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <!-- Display the list of containers -->
    <div *ngIf="watchlist.length > 0; else noWatchlist">
      <ul>
        <li *ngFor="let container of watchlist">
          {{ container.name }} ({{ container.containerNumber }})
        </li>
      </ul>
    </div>
  
    <!-- If no containers are in the watchlist -->
    <ng-template #noWatchlist>
      <p>Your watchlist is empty. Add containers to track them!</p>
    </ng-template>

    
  </div>